@import "settings";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0 3rem 0;
  &-container {
    width: 85%;
    &-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
    }
  }
}
