.App {
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0 3rem 0;
  &-notfound {
    width: 85%;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    &-cards {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      a {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #cbd5e1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &-container {
    width: 85%;
    display: grid;
    gap: 10px;
    grid-template-columns: 230px 1fr;
    &-aside {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-family: "overpass", sans-serif;
        color: $dark;
        margin-bottom: 0.75rem;
      }
      &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          border-radius: 20px;
          padding: 0.25rem 0.75rem;
          border: 1px solid rgba($color: $gray, $alpha: 0.3);
          color: $dark;
          background: $white;
          cursor: pointer;
          &::before {
            width: 5px;
            height: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            content: "#";
            border-radius: 50%;
            margin-right: 0.5rem;
            color: $orange;
          }
          &:hover,
          &.active {
            background-color: rgba($color: $orange, $alpha: 0.05);
            &::before {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 50%;
              margin-right: 0.5rem;
              background: $orange;
            }
          }
        }
      }
    }
    &-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 15px;
      @media screen and (max-width: 1030px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .main {
    &-container {
      display: flex;
      flex-direction: column;
      &-aside {
        margin-bottom: 1rem;
      }
    }
  }
}

body.dark {
  .main {
    &-container {
      &-aside {
        h2 {
          color: $white;
        }
        &-tags {
          button {
            border: 1px solid rgba($color: $white, $alpha: 0.3);
            color: $white;
            background: #1e293b;
            &::before {
              color: #0ea5e9;
            }
            &:hover,
            &.active {
              background-color: rgba($color: #0ea5e9, $alpha: 0.3);
              &::before {
                background: #0ea5e9;
              }
            }
          }
        }
      }
    }
  }
}
