.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-top: 4px solid rgba($color: $gray, $alpha: 0.2);
  &-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 620px) {
      flex-direction: column;
      a {
        margin-top: 0.5rem;
      }
    }
    p {
      text-align: center;
      color: $green;
      font-weight: 500;
      font-size: 1rem;
      font-family: "Overpass", sans-serif;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      border-radius: 50%;
      border: 2px solid $green;
      &:hover {
        background: rgba($color: $green, $alpha: 0.1);
      }
    }
  }
}

body.dark {
  .footer {
    border-top: 4px solid rgba($color: $gray, $alpha: 0.2);
    &-container {
      p {
        color: $white;
      }
      a {
        border-color: #0ea5e9;
        &:hover {
          background: rgba($color: $white, $alpha: 0.1);
        }
        svg {
          path:last-child {
            fill: #0ea5e9;
          }
        }
      }
    }
  }
}
