.nav {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  padding: 0.25rem 0;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    max-width: 85%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: $gray, $alpha: 0.2);
    margin: 0 auto;
  }
  &-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      &-logo {
        display: inline-block;
        margin-right: 1rem;
        svg {
          width: 50px;
          height: 50px;
        }
      }
      &-flag {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #cbd5e1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      width: 50%;
      @media screen and (max-width: 1280px) {
        width: 60%;
      }
      @media screen and (max-width: 960px) {
        width: 100%;
      }
      &-search {
        position: relative;
        overflow: hidden;
        width: 100%;
        input {
          padding: 0.5rem 2.5rem 0.5rem 1rem;
          outline: none;
          border-radius: 5px;
          border: 2px solid rgba($color: $gray, $alpha: 0.3);
          background: $light;
          width: 100%;
          height: 100%;
          font-weight: 500;
          color: rgba($color: $gray, $alpha: 0.75);
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding: 0.2rem;
          right: 0.25rem;
          top: 50%;
          transform: translate(0, -50%);
          border-radius: 2px;
          border: none;
          cursor: pointer;
          width: 30px;
          img {
            width: 17px;
          }
        }
      }
      &-link {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0.55rem 1rem;
        border-radius: 5px;
        border: 2px solid $white;
        background: $green;
        outline: none;
        span {
          color: $light;
          font-weight: 500;
        }
        span:last-child {
          display: none;
        }
        @media screen and (max-width: 660px) {
          span:first-child {
            display: none;
          }
          span:last-child {
            display: inline-block;
            font-weight: 600;
          }
        }
        &:hover {
          box-shadow: 0 0 0 2px $green;
        }
      }
      &-mode {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: 2px solid $green;
        border-radius: 50%;
        cursor: pointer;
        padding: 0.375rem;
        background: $white;
        svg {
          width: 20px;
          height: 20px;
          stroke: $green;
        }
        &:hover {
          background: rgba($color: $green, $alpha: 0.05);
        }
      }
    }
  }
}
body.dark {
  .nav {
    background: #0b1121;
    &-container {
      &-left {
        &-logo {
          svg {
            path {
              fill: #0ea5e9;
            }
          }
        }
      }
      &-menu {
        &-search {
        }
        &-link {
          background: #0ea5e9;
          border: 2px solid #0b1121;
          &:hover {
            box-shadow: 0 0 0 2px #0ea5e9;
          }
        }
        &-mode {
          background: #0b1121;
          border: 2px solid #0ea5e9;
          &:hover {
            background: rgba($color: #0ea5e9, $alpha: 0.05);
          }
          svg {
            stroke: #0ea5e9;
          }
        }
      }
    }
  }
}

//

.add-modal {
  width: 380px;
  max-width: 100%;

  .card {
    padding: 4rem 1rem 2rem 1rem;
    width: 100%;
    position: relative;
    background: $white;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    &-close {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      border: none;
      z-index: 30;
      padding: 0.25rem;
      background: $white;
      border: 2px solid #16b86a;
      svg {
        stroke: $green;
      }
    }
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1.25rem;
      border-radius: 8px;
      border: 2px solid $white;
      background: $green;
      svg {
        width: 25px;
      }
      span {
        color: $light;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0 0 0 2px #16b86a;
      }
    }
  }
}

.submitted-modal {
  width: 500px;
  max-width: 100%;

  .card {
    padding: 2.5rem 1rem 2rem 1rem;
    width: 100%;
    position: relative;
    background: $white;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    &-close {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 1.25rem;
      border-radius: 8px;
      border: 2px solid $white;
      background: $green;
      svg {
        width: 25px;
      }
      span {
        color: $light;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0 0 0 2px #16b86a;
      }
    }
    p {
      text-align: center;
      line-height: 1.7;
      span {
        font-weight: bold;
      }
      a {
        color: $green;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}

body.dark {
  .add-modal {
    .card {
      background: #1e293b;
      border: none;
      box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
      &-close {
        border-color: #0ea5e9;
        svg {
          stroke: #0ea5e9;
        }
      }
      a {
        border: 2px solid #1e293b;
        background: #0ea5e9;
        span {
          color: $white;
        }
        &:hover {
          box-shadow: 0 0 0 2px #0ea5e9;
        }
      }
    }
  }
  .submitted-modal {
    .card {
      background: #1e293b;
      border: none;
      box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
      p {
        color: $light;
        span {
          color: $light;
        }
        a {
          color: #0ea5e9;
        }
      }
      &-close {
        border: 2px solid #1e293b;
        background: #0ea5e9;
        span {
          color: $white;
        }
        &:hover {
          box-shadow: 0 0 0 2px #0ea5e9;
        }
      }
    }
  }
}
