// Poppins Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Inter Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
// Overpass Font
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$gray: #576f7f;
$dark: #24273F;
$orange: #F9322C;
$blue: #08b2e3;
$light: #F9FAFB;
$green: #059669;
$white: #fff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: $gray;
    transition: .3s ease-out;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html, body{
    height: 100%;
}

body{
    background-color: $light;
    overflow-x: hidden;
}
