.to-top {
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid $green;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  &.show {
    display: flex;
  }
}
body.dark {
  .to-top {
    border: 1px solid #0ea5e9;
    svg {
      path:last-child {
        fill: #0ea5e9;
      }
    }
  }
}
